body {
    background-color: #fdde7e;
    border: 20px solid black;
    min-height: 100vh;
    font-family: 'Baloo Thambi 2', cursive;
}

.container {
    width: 100%;
    max-width: 970px;
    min-width: 360px;
    margin: 0 auto;
    padding: 15px 0;
}

.mainBlock {
    display: flex;
    justify-content: center;
    align-items: center;
}

.block {
    text-align: center;
    border: 1px solid #ffffff;
    width: 150px;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 40px 60px;
    margin: 20px 20px;
    box-shadow: 0 0 1px 0 black;
}

.block-Gold .cups{
    margin-top: 40px;
}

.block-Gold {
    text-align: center;
    border: 1px solid #ffffff;
    border-radius: 5px;
    height: 390px;
    width: 150px;
    background-color: #ffffff;
    padding: 40px 60px;
    margin: 20px 20px;
    box-shadow: 0 0 1px 0 black;
    position: relative;
}

.positionSmile {
    position: absolute;
    color: white;
    right: -25px;
    top: 5px;
}

.positionSmile span {
    font-size: 40px;
    padding: 15px;
    border: 3px solid #21bfb9;
    border-radius: 100%;
    background: rgba(79, 98, 116, 0.685);
}

.price {
    font-size: 60px;
    color: #02995b;
    padding-bottom: 20px;
}

.name {
    font-size: 40px;
    margin: 20px 0;
}

span {
    font-size: 16px;
}

